*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0398E5;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.App{
  background-color: white;
  width:500px;
  height: auto;
  border-radius: 10px;
}
.heading{
  text-align: center;
  font-size:30px;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-around;
  padding: 7px;
}
.title{
  font-weight: bold;
}

.in{
  width: 300px;
  padding:5px;
  font-size: 20px;
  margin: 10px;
  border:none;
  border-bottom:1px solid #0398E5;
  outline: none;
  font-family: cursive;
}
.in::placeholder{
  color: #0398E5;
}
.main{
  display: grid;
  place-items: center;
}
.regular-list-div{
  margin:5px;
}
.list{
  width: 300px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 19px -4px rgba(0,0,0,0.75);  
  font-size: 20px;
  margin: 5px;
  border-radius: 25px;
  font-family: cursive;

}
input:focus::placeholder {
  color: transparent;
}
.innerHeading{
  padding: 10px;
}
.button-div{
  margin: 10px;
}
.edit{
  margin-right: 5px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  border-radius: 2px;
}
.edit:hover{
  background-color:rgb(27, 219, 27);
}
.delete:hover{
  background-color:rgb(245, 43, 43);
}
.delete{
  cursor: pointer;
  background: transparent;
  border: transparent;
  border-radius: 2px;
}
.checkbox{
  margin: 5px;
}
.regular{
  margin-bottom: 5px;
}
.add-habit{
  background-color: red;
  border: transparent;
  padding: 3px;
  margin-right: 3px;
  border-radius: 5px;
  color: white;
}
.add-habit:hover{
  background-color: black;
}

@media (min-width:410px) and (max-width:510px){
  .App{
    width:400px;
  }
}
@media (max-width:410px){
  .App{
    width:300px;
  }
  .heading{
    font-size:20px;
  }
  .in{
    width: 240px;
  }
  .list{
    width: 240px;
    font-size: 18px;
  }
}